<div class="has-text-centered">
    <section class="hero">
        <div class="hero-body">
            <h1 class="title">Hello chị bảy</h1>
            <p class="subtitle">Let's play!</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <form method="post" action="/">
                <div class="field is-grouped">
                    <div class="control">
                        <div class="select is-large">
                            <select id="gridSize" name="grid">
                                <option value="4">4x4</option>
                                <option value="6">6x6</option>
                                <option value="8">8x8</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-centered is-large is-primary" type="submit">Play</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
