<div class="card" data-image="{{ emoji|escape }}">
    <div class="card-image image is-square">
        <div class="card-front">
        </div>
        <div class="card-back">
            <span>{{ emoji }}</span>
        </div>
    </div>
</div>